.nutrition-section{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    place-items: center;    
    padding: 20px 30px;
}
.nutrition-section img{
    height: 230px;
}
.nutrition-section .nutrition-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}