*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminuser-section{
    padding: 30px;
}
.adminuser-section h1{
    text-align: center;
    margin: 10px 0;
    color: rgb(2, 49, 84);  
    border-bottom: 1px solid gray;
}
.adminuser-section table{
    margin-top: 30px;
}
.adminuser-section table .delete-user{
    cursor: pointer;
}